<header>
  <%= image_tag("logo.png", :alt => "Source Spotlight", :class => "round") %>
  <nav class="round">
    <ul>
      <li>
	<%= link_to "Home", root_path %>
      </li>
      <li>
	<%= link_to "Stories", stories_path %>
      </li>
      <li>
	<%= link_to "People", people_path %>
      </li>
      <li>
	<%= link_to "News Orgs", "#" %>
      </li>
    </ul>
  </nav>
</header>
