<h1><%= @title %></h1>
<ul class="nav round">
  <li>
    <%= link_to "Home", '#' %>
  </li>
  <li>
    <%= link_to "Stories", '#' %>
  </li>
  <li>
    <%= link_to "People", '#' %>
  </li>
  <li>
    <%= link_to "News Orgs", '#' %>
  </li>
</ul>
