<header>
  <%= image_tag("logo.png", :alt => "Source Spotlight", :class => "round") %>
  <nav class="round">
    <ul>
      <li>
	<%= link_to "Home", '#' %>
      </li>
      <li>
	<%= link_to "Stories", '#' %>
      </li>
      <li>
	<%= link_to "People", '#' %>
      </li>
      <li>
	<%= link_to "News Orgs", '#' %>
      </li>
    </ul>
  </nav>
</header>
